Assets/Splash[[:space:]]Sprites/Maximos/Cleaner_anim/Ch31_nonPBR@Standing[[:space:]]Idle.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Splash[[:space:]]Sprites/Maximos/Cleaner_anim/cleaner_talk.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Splash[[:space:]]Sprites/Maximos/Gamini_anim/gamini_sit.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Splash[[:space:]]Sprites/Maximos/Gamini_anim/gamini_talk.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Splash[[:space:]]Sprites/Maximos/NPC1.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Splash[[:space:]]Sprites/Maximos/maria.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Splash[[:space:]]Sprites/Maximos/maria_talk.fbx filter=lfs diff=lfs merge=lfs -text
